{% extends 'VLA/base.html' %}
{% load staticfiles %}

{% block title %}VLA: Home{% endblock %}

{% block body_block %}
<div class="hero-unit">
    {% if user.is_authenticated %}
        <h1>Hello {{ user.username }}, welcome to VLA!</h1>
    {% else %}
        <h1>Hello, please log in.</h1>
    {% endif %}
    <ul class="nav nav-list">&nbsp;</ul>
    <img src="{% static 'VLA/images/main_image.jpg' %}"><br>
    {% if user.is_authenticated %}
        Please select a course from the list on the left.
    {% endif %}
</div>
{% endblock %}
