{% extends 'VLA/base.html' %}
{% load staticfiles %}

{% block title %}VLA: {{ lab_name }} Laboratory Test{% endblock %}

{% block sidetitle %}{{ lab_name }} Sections{% endblock %}
{% block sidebar %}
    {% include 'VLA/lab_section_list.html' with labs=labs %}
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>{{ course.subj }} {{ course.course_number }}: {{ course.name }}</h1>
    <h2>Lab {{ lab.lab_number }}: {{ labtest.name }}</h2>
    
    {% if not questions_filled %}<h3>You must answer all questions!</h3>{% endif %}
    {% if student_progress.lab_test_finished %}
        <h4>You have completed the test. Your score has been recorded, but does not count toward your final grade.</h4>
    {% else %}
        {% if labtest_questions %}
            <form method="post" action="{% url 'labtest' course.url lab.url labtest.url %}">
            <ol>
                {% for question in labtest_questions %}
                    <li>{{ question.question }}</li>
                    
                    {% csrf_token %}
                    {% if question.answer_one %}<input type="radio" name="choice{{ forloop.counter }}" id="1" value=1> {{ question.answer_one }} <br />{% endif %}
                    {% if question.answer_two %}<input type="radio" name="choice{{ forloop.counter }}" id="2" value=2> {{ question.answer_two }} <br />{% endif %}
                    {% if question.answer_three %}<input type="radio" name="choice{{ forloop.counter }}" id="3" value=3> {{ question.answer_three }} <br />{% endif %}
                    {% if question.answer_four %}<input type="radio" name="choice{{ forloop.counter }}" id="4" value=4> {{ question.answer_four }} <br />{% endif %}   
                {% endfor %}
            </ol>
            <input type="submit" value="Submit Answers" />
            </form>
    {% endif %}
    <hr>
    {% endif %}
    <div class="row-fluid">
        {% if results %}
            <div class="span6">
                <a class="btn" href="{% url 'results' course.url lab.url results.url %}">Go to Results</a>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}