{% extends 'VLA/base.html' %}

{% block title %}VLA: Help{% endblock %}
{% block sidetitle %}Question Categories{% endblock %}
{% block sidebar %}
    {% include 'VLA/question_section_list.html' with topics=question_topic_list %}
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>{{ question_name }}?</h1><P>
    {% if definition %}
        <ul class="nav nav-list"class="nav nav-list">
       {{ definition.definition }}
        </ul>
    {% else %}
    There is no answer for this question.
    {% endif %}
    <ul class="nav nav-list"class="nav nav-list">&nbsp;</ul>
    <a href="/VLA/help/">Go to Help</a>
</div>
{% endblock %}