{% extends 'VLA/base.html' %}
{% load staticfiles %}

{% block title %}VLA: {{ lab_name }} Simulation Test{% endblock %}

{% block sidetitle %}{{ lab_name }} Sections{% endblock %}
{% block sidebar %}
    {% include 'VLA/lab_section_list.html' with labs=labs %}
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>{{ course.subj }} {{ course.course_number }}: {{ course.name }}</h1>
    <h2>Lab {{ lab.lab_number }}: {{ simulationtest.name }}</h2>
    
    {% if simulationtest_questions %}
    <ol>
        {% for question in simulationtest_questions %}
            <li>{{ question.question }}</li>
                <ol type="a">{% if question.answer_one %}<li>{{ question.answer_one }}</li>{% endif %}
                    {% if question.answer_two %}<li>{{ question.answer_two }}</li>{% endif %}
                    {% if question.answer_three %}<li>{{ question.answer_three }}</li>{% endif %}
                    {% if question.answer_four %}<li>{{ question.answer_four }}</li>{% endif %}
                </ol>
            <ul>&nbsp;</ul>
        {% endfor %}
    </ol>
    {% endif %}
    {% if not simulationtest.is_completed %}
        <h2>Are you finished with the Simulation Test? <input class="btn btn-primary" type="submit" name="submit" value="Yes"/></h2>
    {% endif %}
    
    <a href="/VLA/course/{{ course.url }}/lab/{{ lab.url }}/simulation/{{ simulation.url }}">Go to Simulation</a>
    <ul class="nav pull-right">
        <a href="/VLA/course/{{ course.url }}/lab/{{ lab.url }}/hardware/{{ hardware.url }}">Go to Hardware</a>
    </ul>
</div>


{% endblock %}