{% extends 'VLA/base.html' %}
{% load staticfiles %}

{% block title %}VLA: {{ lab_name }} Theory{% endblock %}

{% block sidetitle %}{{ lab_name }} Sections{% endblock %}
{% block sidebar %}
    {% include 'VLA/lab_section_list.html' with labs=labs %}
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>{{ course.subj }} {{ course.course_number }}: {{ course.name }}</h1>
    <h2>Lab {{ lab.lab_number }}: {{ theory.name }}</h2>
    {% if theory_elements %}
    {% for element in theory_elements %}
        {% if element.is_text %}
            <p>{{ element.text_input}}</p>
        {% elif element.is_image %}
            <p><center><img src="{% static element.image_input %}"></center></p>
        {% elif element.is_equation %}
            {% if element.is_latex %}
                <p><center>$${{ element.equation_input}}$$</center></p>
            {% else %}
                <p><center>{{ element.equation_input}}</center></p>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% endif %}
    
    {% if not theory.is_completed %}
        <form method="post" action="{% url 'theorytest' course.url lab.url theory.url %}">
            {% csrf_token %}
            <h2>Are you finished with the Theory? <input class="btn btn-primary" type="submit" name="submit" value="Yes"/></h2>
        </form>
    {% endif %}
    <a href="{% url 'lab' course.url lab.url %}">Go to Lab Overview</a>
    {% if theorytest %}
        <ul class="nav pull-right">
            <a href="{% url 'theorytest' course.url lab.url theorytest.url %}">Go to Theory Test</a>
        </ul>
    {% endif %}
</div>


{% endblock %}