{% extends 'VLA/base.html' %}

{% block title %}VLA: Help Videos{% endblock %}
{% block sidetitle %}Definition Categories{% endblock %}
{% block sidebar %}
    {% include 'VLA/cat_section_list.html' with topics=vocab_topic_list %}
{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>{{ video_name }}</h1><P>
    {% if video %}
        <ul class="nav nav-list"class="nav nav-list">
            <iframe width="560" height="315" src="{{ video.video_link }}" frameborder="0" allowfullscreen></iframe>
        </ul>
    {% else %}
    There is no video.
    {% endif %}
    <ul class="nav nav-list"class="nav nav-list">&nbsp;</ul>
    <a href="/VLA/help/">Go to Help</a>
</div>
{% endblock %}


